<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.ibm.db2.jcc.DB2Driver"/>
                <property name="url" value="jdbc:db2://ip:60000/SJCKDB"/>
                <property name="username" value="user"/>
                <property name="password" value="password"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>

        <mapper resource="com/jzt/mapper/MerchantMapper.xml"></mapper>
        <mapper resource="com/jzt/mapper/RealEstateValuationMapper.xml"></mapper>
    </mappers>


</configuration>